__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/

# Data & weights (too large for git)
data/*.jsonl
data/images/
weights/*.pt
weights/*.json
weights/*/
# Outputs
outputs/**/*.wav
outputs/*.wav

# ESD
ESD/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
CHANGELOG.md

vits/logs/**/*.pth

.venv/

aws_gpu_key.pem

